@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
    justify-content: center;
    
}
body{
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
div#principal{
    padding: 10px ;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #010101;
    margin: auto;
    color: #f7f7f7;
    border-radius: 1em;
}
#principal h3{
    font-size: .8em;
    padding: 0em 0em;
}
#principal .display{
    text-align: right;
    padding: 0.5em;   
    
}
#principal .display1{
    font-size: 1.2em;
    padding: .8em .8em;
}
#principal .display2{
    font-size: 3em;
    padding: .2em .2em .4em .2em;
}
#btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
}
#btn button{
    height: 4em;
    border-radius: 50%;
    color:#f7f7f7;
    background-color: #161718;
    font-size: 1.3em;
    border: none;    
}
#btn button:hover{
    background-color: #0101011d;
    border: 3px solid #161718;
}
#btn .button-c{
    color:#c87268;
}
#btn .button{
    color:#427f00;    
}
#btn .button-igual{
    background-color: #427f0085;
}
#btn .button-igual:hover{
    background-color: #427f00;
}
#marca .linha{
    padding: .5em ;
}
#marca .icone{
    color:white;
    width: 50px;
    display: flex;
}